.App,
.main-layout {
  background-color: #ffedef;
}

.page-content {
  padding: 2rem 2rem 0 2rem;
  height: calc(100vh - 130px);
}

.main-layout {
  display: flex;
}

@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }
  .page-content {
    padding: 0 2rem 0 2rem;
  }
}

.auth-layout {
  background: #ffedef;
  background: linear-gradient(
    194deg,
    rgba(255, 237, 239, 1) 0%,
    rgba(232, 137, 153, 1) 100%
  );
  height: 100vh;
  padding: 5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .auth-layout {

    padding: 2rem;
  }
}